django
psycopg2-binary
requests
djangorestframework
dj-rest-auth
django-allauth
django-cors-headers
djangorestframework-simplejwt
python-decouple
ollama
strands-agents
strands-agents-tools
channels
channels-redis
asyncio
aiohttp
daphne
pinecone
pdfplumber
docx2txt
langchain_google_genai
langchain
faiss-cpu
anthropic
boto3
twelvelabs
openai
pydantic
python-multipart
websockets